.@font-face {
    font-family: 'uni_sans_heavyregular';
    src: url('fonts/fontfabric_-_uni-sans-heavy-webfont.woff2') format('woff2'),
         url('fonts/fontfabric_-_uni-sans-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.header-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%; ;
}

.h1 {
  color: #FFFFFF;
  font-size:14px;
  font-family: 'CustomFont', Uni Sans Heavy, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
line-height: 20px;
text-align: center;

}



.p {
        color: #FFFFFF;
        font-family: Uni Sans Regular;
        font-size: 12px;
        text-align: center;
}


.header {
         text-align: center;
      }

.social-icons {
        padding: .5em;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        
        /*display:inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        padding: 5px;*/
}

.streams {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        .h2
font-color: #FFFFFF;
  font-size:13px;
  font-family: Uni Sans Heavy, Helvetica, sans-serif;
line-height: 20px;
text-align: center;

}

.body {
         background: url(images/background-min.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        /*  background-image: url("images/background.png");
        font-family: Uni Sans Heavy, Arial, Helvetica, sans-serif;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;*/ 
}

.html { 
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: 400px   !important;
}

